.sticky-note {
  background-color: #ffd700;
  border: 1px solid #ccc;
  width: 200px;
  @media screen and (max-width: 567px) {
    width: 100%;
  }
}

.notestextarea:focus-visible {
  outline: none !important;
}

.custom-color-input {
  opacity: 0;
}
